* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
p, h1, h2, h3, h4 {
	margin-left: 120px;
	line-height: 1.8em;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.main-nav{
     margin: 50px 10px auto;
     width: 100px;
     position: fixed;
}
.main-nav li{
     position: relative;
     line-height: 35px;
     background-color: #ccc;
     border: 1px solid red;
}
.main-nav li a{
     font-size: 16px;
     color: #000;
}
.sub-nav li {
     background-color: #eee;
}
.sub-sub li {
     background-color: #eee;
}
.sub-nav{
     width: 100px;
     position: absolute;
     left: 98px;
     top: -1px;
     display: none;
}
.sub-sub {
     width: 100px;
     position: absolute;
     left: 98px;
     top: -1px;
     display: none;
}

.sub-nav li a {
     color: #ccc;
}
.sub-sub li a {
     color: #fff;
}
.main-nav li:hover .sub-nav {
     display: block;
}
.main-nav li:hover .sub-sub {
     display: none;
}
.sub-nav li:hover .sub-sub {
     display: block;
}