@import url(for browser/6/reset.css);

li {
	list-style-type: none;
	/*float: left;
	clear: both;*/

}
.star::before {
	content: '★';
}
.heart::before {
	content: '❤';
}
.sun::before {
	content: '☀'
}

a {
	color: #000;
	text-decoration: none;
	display: inline-block;
	position: relative;

}
a::before {
	content: '';
	border-bottom: 1px solid #000;
	width: 50%;
	position: absolute;
	margin-top: 18px;
	display: block;
}

/*a::after {
  content: '';
  display: block;
  width: 50%;
  position: absolute;
  height: 2px;
  background-color: #000;
  bottom: -3px;
  left: 0;
}*/
.hover:hover::before  {
  width: 100%;
}







